<div class="d-flex h-100 text-center text-bg-dark bg-gradient">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3" style="margin-top: 50%">
      <h1 style="font-size: 2.5rem">E-Commerce Client</h1>
      <h1>Disclaimer</h1>
      <p class="lead">
        This is a fully functional demo site and may have security vulnerabilities as user data is not encrypted with SSL. 
        The provided codes are not ready for production and should only be used for educational purposes.
        If you face a bug feal free to create an issue for it
      </p>
      <p class="lead">
        <a
          href="https://github.com/UygarErenDisli/ECommerceClient"
          class="btn btn-lg btn-light fw-bold border-white bg-white"
          >Github</a
        >
      </p>
    </main>
  </div>
</div>
