.demo-table {
  width: 100%;
}

.top-container {
  padding-bottom: 10px;
}
.role-add-button {
  float: left;
  margin-left: 8px;
  margin-top: 30px;
}
.filter-input {
  float: left;
  padding-left: 8px;
  margin-top: 10px;
}
