<div>
  <h2 mat-dialog-title class="dialog-title">
    Name Surname : {{ nameSurname }}
  </h2>
  <h2 mat-dialog-title>User Name : {{ userName }}</h2>
</div>
<div mat-dialog-content>
  <mat-selection-list
    #roles
    matBadge=" {{ roles.selectedOptions.selected.length }}/{{
      allRoles?.totalCount
    }}"
    matBadgeOverlap="false"
  >
    <span matListItemTitle>Please select roles that you want to assign</span>
    @for (role of allRoles?.roles; track role) {
    <mat-list-option
      [value]="role"
      [selected]="this.assignedRoles.indexOf(role.name)! > -1 ? true : false"
      >{{ role.name }}</mat-list-option
    >
    }
  </mat-selection-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    (click)="assignRole(roles)"
    cdkFocusInitial
  >
    Save
  </button>
</div>
